<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Repository.UserRepository">
    <insert id="registerUser" parameterType="UserRegisterRequestDto">
        <selectKey keyColumn="userId" order="AFTER" resultType="long">
        insert into user (userEmail, userPassword) values (#{userEmail}, #{userPassword})
        </selectKey>
    </insert>

    <select id="findUserByEmail" resultMap="UserProfile">

    </select>

    <select id="checkEmail" parameterType="String" resultType="Integer">
        select exists(select userEmail from user where userEmail = #{userEmail})
    </select>

</mapper>
